// src/styles/RangeSelector.scss

$containerColor: black;

.RangeSelector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 0;
    color: $containerColor;

    form {
        display: flex;

        label {
            margin: 0 0.5rem 0 0;
        }

        select {
            color: $containerColor;
            border-radius: 0.3rem;
            border: 0.09rem solid $containerColor;
        }
    }
}
