// src/styles/Sidebar.scss

$containerBackground: linear-gradient(265deg, white, #c2c2c2);
$brandColor: #0167ff;
$buttonColor: $brandColor;
$buttonBoxShadow: 0 5px 10px #818181;
$activeButtonColor: white;
$activeButtonBackground: linear-gradient(225deg, #01d5ff, #0167ff);
$activeButtonBoxShadow: inset 0 5px 10px #2f2f2f;

.Sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    overflow-y: auto;
    background: $containerBackground;

    .brand {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        margin: 2rem 0 2rem 0;
        color: $brandColor;
    }

    .link-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-weight: bold;
        font-size: large;

        form {
            width: 100%;
            margin: 0 0 0.5rem 0;

            button {
                width: 100%;
                padding: 1rem 0 1rem 0;
                text-align: center;
                font-size: large;
                font-weight: bold;
                border-radius: 0.5rem;
                border: none;
                color: $buttonColor;
                box-shadow: $buttonBoxShadow;
                cursor: pointer;
            }

            button.active {
                color: $activeButtonColor;
                background: $activeButtonBackground;
                box-shadow: $activeButtonBoxShadow;
            }
        }
    }
}
