// src/styles/StatusCard.scss

$containerColor: white;
$containerBoxShadow: 0 5px 10px #818181;
$layakMinumBackground: linear-gradient(225deg, #22ff00, #128800);
$tidakLayakMinumBackground: linear-gradient(225deg, #ff0000, #8b0000);
$tidakDiketahuiBackground: linear-gradient(225deg, #ffffff, #8d8d8d);

.StatusCard-container {
    display: flex;
    justify-content: space-between;
    width: 26%;
    padding: 1rem 0 1rem 0;
    color: $containerColor;
    border-radius: 0.5rem;
    box-shadow: $containerBoxShadow;

    &.layak-minum {
        background: $layakMinumBackground;
    }

    &.tidak-layak-minum {
        background: $tidakLayakMinumBackground;
    }

    &.tidak-diketahui {
        background: $tidakDiketahuiBackground
    }

    .standard-status-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 1rem;

        .standard {
            margin: 0 0 1rem 0;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 1rem;
    }
}
